* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  margin-left: 10px; }

nav {
  color: black;
  background: violet; }

ul {
  display: inline-block;
  position: relative; }

li {
  list-style: none;
  display: inline-block;
  text-align: center;
  margin-right: 10px; }

.toleft {
  position: absolute;
  left: 0; }

.toRight1 {
  position: absolute;
  left: 63rem; }

.toRight2 {
  position: absolute;
  left: 70rem; }

.toRight3 {
  position: absolute;
  left: 78rem; }

a {
  text-decoration: none; }

.menu-home {
  font-size: 30px; }

header {
  background: url("Bilder/food-pic.jpeg");
  height: 60vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; }

.header-h1 {
  color: #494545;
  font-size: 3rem;
  position: absolute;
  top: 200px;
  left: 400px;
  transform: translate(-50, -50); }

.header-button {
  height: 2.5rem;
  width: 5rem;
  border-radius: 5px;
  border: 1px solid black;
  position: absolute;
  top: 300px;
  left: 600px;
  transform: translate(-50, -50); }

/* Flex */
.flex-card-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

article {
  border: 2px solid red;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  /* align-content: center;  */
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }

.card-img {
  height: 10rem;
  width: 10rem; }

.card-p {
  width: 10rem;
  align-self: center; }

article button {
  align-self: flex-end; }

figure {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap; }

/* animation */
.card-img:hover {
  /* animation: name duration timing-function delay iteration-count */
  animation: imageAnim 2s ease-in 1s infinite;
  /* transform: scale(1.5, 1.5); */
  /*transform: rotate(300deg); */
  /* transform: translate(200px, -300px); */ }

/* keyframes */
/* 2sec */
@keyframes imageAnim {
  0% {
    transform: translate(100px, 100px); }
  12% {
    transform: rotate(180deg); }
  50% {
    opacity: 0; }
  60% {
    opacity: .5; }
  100% {
    opacity: 1;
    transform: translate(0, 0); } }

.footer {
  margin-top: 1rem;
  box-shadow: 1rem 1rem grey;
  background-color: violet;
  height: 10rem;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }

.footer-nav-li {
  display: flex;
  flex-direction: column; }

.footer-nav-li > a {
  text-decoration: none; }
